@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Manrope:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:700&display=swap");
:root {
  --light-accent-color: #1a659e;
  --dark-accent-color: #095188;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
[class*=_icon-]::before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-facebook:before {
  content: "\ea90";
}

._icon-instagram:before {
  content: "\ea92";
}

._icon-twitter:before {
  content: "\ea96";
}

._icon-youtube:before {
  content: "\ea9d";
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
}

.wrapper {
  overflow: clip;
}

[class*=__container] {
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.header {
  padding-top: 0.625rem;
  position: fixed;
  inset: 0% 0% auto;
  width: 100%;
  -webkit-transition: padding-top 0.3s ease;
  transition: padding-top 0.3s ease;
  z-index: 10;
}
.header__container {
  max-width: 81.25rem;
}
.header__body {
  padding: 0.625rem;
  gap: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  border-radius: 1.25rem 0 1.25rem 0;
}
.header__logo {
  z-index: 20;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 73.125em) {
  .header__logo img {
    width: 12.5rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (width: clamp( 6.25rem , 3.8970588235rem  +  11.7647058824vw , 12.5rem )) {
    .header__logo img {
      width: clamp( 6.25rem , 3.8970588235rem  +  11.7647058824vw , 12.5rem );
    }
  }
  @supports not (width: clamp( 6.25rem , 3.8970588235rem  +  11.7647058824vw , 12.5rem )) {
    .header__logo img {
      width: calc(6.25rem + 6.25 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .header__logo img {
    width: 6.25rem;
  }
}
.button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 0.9375rem;
  text-transform: uppercase;
  line-height: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  border-radius: 1.25rem 0 1.25rem 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (min-width: 73.125em) {
  .button {
    padding-top: 0.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (padding-top: clamp( 0.625rem , 0.5073529412rem  +  0.5882352941vw , 0.9375rem )) {
    .button {
      padding-top: clamp( 0.625rem , 0.5073529412rem  +  0.5882352941vw , 0.9375rem );
    }
  }
  @supports not (padding-top: clamp( 0.625rem , 0.5073529412rem  +  0.5882352941vw , 0.9375rem )) {
    .button {
      padding-top: calc(0.625rem + 0.3125 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .button {
    padding-top: 0.625rem;
  }
}
@media (min-width: 73.125em) {
  .button {
    padding-bottom: 0.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (padding-bottom: clamp( 0.625rem , 0.5073529412rem  +  0.5882352941vw , 0.9375rem )) {
    .button {
      padding-bottom: clamp( 0.625rem , 0.5073529412rem  +  0.5882352941vw , 0.9375rem );
    }
  }
  @supports not (padding-bottom: clamp( 0.625rem , 0.5073529412rem  +  0.5882352941vw , 0.9375rem )) {
    .button {
      padding-bottom: calc(0.625rem + 0.3125 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .button {
    padding-bottom: 0.625rem;
  }
}
@media (min-width: 73.125em) {
  .button {
    padding-left: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (padding-left: clamp( 0.9375rem , 0.7022058824rem  +  1.1764705882vw , 1.5625rem )) {
    .button {
      padding-left: clamp( 0.9375rem , 0.7022058824rem  +  1.1764705882vw , 1.5625rem );
    }
  }
  @supports not (padding-left: clamp( 0.9375rem , 0.7022058824rem  +  1.1764705882vw , 1.5625rem )) {
    .button {
      padding-left: calc(0.9375rem + 0.625 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .button {
    padding-left: 0.9375rem;
  }
}
@media (min-width: 73.125em) {
  .button {
    padding-right: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (padding-right: clamp( 0.9375rem , 0.7022058824rem  +  1.1764705882vw , 1.5625rem )) {
    .button {
      padding-right: clamp( 0.9375rem , 0.7022058824rem  +  1.1764705882vw , 1.5625rem );
    }
  }
  @supports not (padding-right: clamp( 0.9375rem , 0.7022058824rem  +  1.1764705882vw , 1.5625rem )) {
    .button {
      padding-right: calc(0.9375rem + 0.625 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .button {
    padding-right: 0.9375rem;
  }
}
@media (max-width: 30em) {
  .button {
    font-size: 0.75rem;
  }
}
.button img {
  width: 1.5625rem;
  height: 0.9375rem;
}
@media (max-width: 30em) {
  .button img {
    display: none;
  }
}
.button--dark {
  color: #fff;
  background-color: var(--dark-accent-color);
}
@media (any-hover: hover) {
  .button--dark:hover {
    border-radius: 1.25rem 1.25rem;
    background-color: var(--light-accent-color);
  }
}
.button--white {
  background-color: #fff;
  color: var(--light-accent-color);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.button--white:hover {
  border-radius: 1.25rem 1.25rem;
}

.hero {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--light-accent-color)), to(var(--dark-accent-color)));
  background-image: linear-gradient(180deg, var(--light-accent-color) 0%, var(--dark-accent-color) 100%);
  overflow: hidden;
  padding: 5.625rem 0;
}
@media (max-width: 47.99875em) {
  .hero {
    height: 100%;
    padding: 3.125rem 0;
  }
}
.hero__shape-bottom {
  position: absolute;
  bottom: -4px;
  pointer-events: none;
  z-index: 2;
  width: 100%;
  left: 0;
  overflow: hidden;
}
.hero__shape-bottom svg {
  width: 100%;
  left: 50%;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.1875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  height: 100%;
  max-width: 73.125rem;
  position: relative;
}
.hero__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/shape.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  pointer-events: none;
}
.hero__content {
  padding-top: 7.5rem;
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__label {
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.5em;
}
.hero__title {
  font-family: "Inter";
  line-height: 1.2em;
  text-transform: capitalize;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 73.125em) {
  .hero__title {
    font-size: 4.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (font-size: clamp( 2.1875rem , 1.4816176471rem  +  3.5294117647vw , 4.0625rem )) {
    .hero__title {
      font-size: clamp( 2.1875rem , 1.4816176471rem  +  3.5294117647vw , 4.0625rem );
    }
  }
  @supports not (font-size: clamp( 2.1875rem , 1.4816176471rem  +  3.5294117647vw , 4.0625rem )) {
    .hero__title {
      font-size: calc(2.1875rem + 1.875 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .hero__title {
    font-size: 2.1875rem;
  }
}
.hero__text {
  line-height: 1.4em;
}
.hero__video {
  max-width: 53.125rem;
  z-index: 2;
}
.hero__video video {
  border-radius: 1.25rem;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__label,
.hero__title,
.hero__text {
  opacity: 0;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-animation: fadeInScale 0.8s ease-out forwards;
          animation: fadeInScale 0.8s ease-out forwards;
}

.hero__label {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.hero__title {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.hero__text {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes fadeInScale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.shape-fill {
  fill: #fff;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  height: 100%;
  width: 100%; /* Переконайтеся, що заповнює всю ширину */
}

.changing-word {
  display: inline-block;
  position: relative;
  overflow: hidden;
  font-size: inherit;
  text-transform: none;
}

.letter {
  display: inline-block;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-animation: wave 0.6s forwards;
          animation: wave 0.6s forwards;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes wave {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.fade-out {
  -webkit-animation: fadeOut 0.5s forwards;
          animation: fadeOut 0.5s forwards;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}