@import url("https://fonts.googleapis.com/css?family=Manrope:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:700&display=swap");


@font-face {
	font-family: "icons";
	src:
		url("../fonts/icons.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


