[class*="_icon-"]::before {
	display: inline-block;
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

._icon-facebook:before {
	content: "\ea90";
}
._icon-instagram:before {
	content: "\ea92";
}
._icon-twitter:before {
	content: "\ea96";
}
._icon-youtube:before {
	content: "\ea9d";
}
