@use "sass:math";

// Кольори

// Функції
@import "_functions.scss";
// Шрифти
@import "_fonts.scss";
// Іконки
@import "_icons.scss";
// Обнулення
@import "_reset.scss";
// Компоненти

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1170;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Poppins";

	&.menu-open {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
}
.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	main {
		flex-grow: 1;
	}
}

[class*="__container"] {
	margin: 0 auto;
	padding: 0 toRem(15);
}

#scrollToTopBtn {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	bottom: toRem(20);
	right: toRem(15);
	z-index: 20;
	border: 0.5px solid #fff;
	width: toRem(50);
	height: toRem(50);
	background-color: #135688;
	border-radius: 50%;
	transition:
		opacity 0.3s ease,
		visibility 0.3s ease;
	@media (max-width: toEm(480)) {
		bottom: toRem(80);
	}
	img {
		width: toRem(20);
		height: toRem(20);
		will-change: transform;
		transition: transform 0.3s;
	}
	@media (any-hover: hover) {
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
	}
	&.visible {
		visibility: visible;
		opacity: 1;
	}
}
.header {
	@include adaptiveValue("padding-top", 50, 10);
	position: relative;
	background-color: #1a659e;
	width: 100%;
	transition: padding-top 0.3s ease;
	// .header__container

	&__container {
		max-width: toRem(1300);
	}

	&__body {
		@include adaptiveValue("padding", 20, 10);
		gap: toRem(15);
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #fff;
		border-radius: toRem(20) 0 toRem(20) 0;
	}

	// .header__logo

	&__logo {
		z-index: 20;
		flex-grow: 1;
		img {
			@include adaptiveValue("width", 217, 150);
			height: auto;
		}
	}

	// .header__link

	&__button {
		@media (max-width: toEm(1150)) {
			align-self: center;
		}
	}

	&__menu {
		flex-grow: 1;
	}
}

.menu {
	// .menu__body

	&__body {
		@media (max-width: toEm(1150)) {
			padding: toRem(40) toRem(15);
			position: absolute;
			top: calc(100% + toRem(10));
			left: 0;
			width: 100%;
			background: #fff;
			opacity: 0;
			z-index: 10;
			overflow: auto;
			max-height: 0;
			transition:
				max-height 0.4s ease,
				opacity 0.3s ease;
			.menu-open & {
				max-height: 80vh;
				opacity: 1;
				visibility: visible;
			}
		}
	}

	// .menu__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		@include adaptiveValue("column-gap", 24, 10);
		row-gap: toRem(5);
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}

		@media (max-width: toEm(1150)) {
			flex-direction: column;
			align-items: flex-start;
			justify-content: left;
			text-align: right;
			row-gap: toRem(28);
		}
	}

	// .menu__item

	&__item {
		@media (any-hover: hover) {
			&:hover {
				.menu__link {
					color: #1a659e;
				}
			}
		}
	}
	// .menu__link

	&__link {
		position: relative;
		font-size: toRem(16);
		color: #095188;
		transition: color 0.3s;
		text-transform: uppercase;
		line-height: 1.22em;
	}
}

.icon-menu {
	flex-shrink: 0;
	z-index: 20;
	display: none;
	@media (max-width: toEm(1150)) {
		position: relative;
		width: toRem(33);
		height: toRem(33);
		background-color: #095188;
		border: none;
		padding: toRem(8) toRem(5.5);
		appearance: none;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		transition: all 0.4s;
		box-sizing: border-box;
		border-radius: toRem(3);
		span {
			width: 100%;
			height: toRem(3);
			background-color: #fff;
			border-radius: 3px;
			display: inline-block;
			transition: all 0.4s;
		}
	}
}

@media (max-width: toEm(1150)) {
	#menu02.active span:nth-of-type(1) {
		transform: translateY(toRem(7)) rotate(45deg);
	}
	#menu02.active span:nth-of-type(2) {
		opacity: 0;
		transform: scaleX(0);
	}
	#menu02.active span:nth-of-type(3) {
		transform: translateY(toRem(-7)) rotate(-45deg);
	}
}

.button {
	flex-shrink: 0;
	font-size: toRem(15);
	@include adaptiveValue("padding-top", 15, 10);
	@include adaptiveValue("padding-bottom", 15, 10);
	@include adaptiveValue("padding-left", 25, 15);
	@include adaptiveValue("padding-right", 25, 15);
	text-transform: uppercase;
	line-height: 1.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: toRem(8);
	border-radius: toRem(20) 0 toRem(20) 0;
	transition: all 0.3s;

	img {
		width: toRem(25);
		height: torem(15);
	}
	&--dark {
		color: #fff;
		background-color: #095188;

		@media (any-hover: hover) {
			&:hover {
				border-radius: toRem(20) toRem(20);
				background-color: #1a659e;
			}
		}
	}
	&--white {
		background-color: #fff;
		color: #1a659e;
		width: fit-content;
		&:hover {
			border-radius: toRem(20) toRem(20);
		}
	}
}

//=========================HERO SECTION================================

.hero {
	@include adaptiveValue("padding-top", 100, 70);
	min-height: 90vh;
	position: relative;
	background-color: transparent;
	background-image: linear-gradient(180deg, #1a659e 0%, #095188 100%);
	overflow: hidden;
	background-position: cover;
	@media (max-width: toEm(890)) {
		min-height: toRem(500);
	}

	&__shape-bottom {
		position: absolute;
		bottom: toRem(-4);
		pointer-events: none;
		z-index: 2;
		width: 100%;
		left: 0;
		overflow: hidden;
		svg {
			width: 100%;
			left: 50%;
		}
	}
	// .hero__container

	&__container {
		display: flex;
		flex-direction: column;
		gap: toRem(40);
		justify-content: center;
		align-items: center;
		z-index: 2;
		max-width: toRem(1170);
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url(../img/shape.webp);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			z-index: 1;
			pointer-events: none;
		}
	}

	// .hero__content

	&__content {
		text-align: center;
		color: #fff;
		display: flex;
		flex-direction: column;
		gap: toRem(15);
		justify-content: center;
		align-items: center;
	}

	// .hero__label

	&__label {
		font-weight: 500;
		text-transform: uppercase;
		line-height: 1.5em;
	}

	// .hero__title

	&__title {
		font-family: "Inter";
		@include adaptiveValue("font-size", 65, 35);
		line-height: 1.2em;
		text-transform: capitalize;
		font-weight: 700;
	}

	// .hero__text

	&__text {
		line-height: 1.4em;
	}

	// .hero__image

	&__image {
		max-width: toRem(850);
		z-index: 2;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.shape-fill {
	fill: #fff;
	transform-origin: center;
	height: 100%;
	width: 100%; /* Переконайтеся, що заповнює всю ширину */
}

//====================FEATURES===========================

.features {
	scroll-margin-top: toRem(70);
	@include adaptiveValue("padding-top", 100, 50);
	@include adaptiveValue("padding-bottom", 100, 50);
	// .features__container

	&__container {
		max-width: toRem(1170);
	}

	// .features__label

	&__label {
		margin: 0 auto;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 25, 15);
		}
	}

	// .features__title

	&__title {
		text-align: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 30);
		}
	}

	// .features__wrapper

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: toRem(30);
	}

	// .features__item

	&__item {
	}
}
.label {
	width: fit-content;
	background-color: #eaf1ff;
	padding: toRem(6) toRem(14) toRem(6) toRem(14);
	border-radius: toRem(10) 0 toRem(10) 0;
	color: #1a659e;
	font-weight: 500;
	text-transform: uppercase;
}
.title {
	font-family: "Inter";
	color: #095188;
	font-weight: 700;
	@include adaptiveValue("font-size", 38, 25);
	&--white {
		color: #fff;
	}
}
.item-features {
	@include adaptiveValue("padding-top", 40, 20);
	@include adaptiveValue("padding-bottom", 40, 20);
	@include adaptiveValue("padding-left", 30, 15);
	@include adaptiveValue("padding-right", 30, 15);
	text-align: left;
	box-shadow: 0 0 toRem(40) 0 rgba(0, 0, 0, 0.05);
	border-style: none;
	height: fit-content;
	border-radius: toRem(20) 0 toRem(20) 0;
	background-color: #fff;
	transition: all 0.4s;
	display: flex;
	flex-direction: column;
	@media (max-width: toEm(480)) {
		align-items: center;
	}
	@media (any-hover: hover) {
		&:hover {
			border-radius: 0;
			background-color: #1a659e;

			.item-features__icon {
				background-color: #fff;
			}
			.item-features__text {
				color: #fff;
			}
			.item-features__title {
				color: #fff;
			}
		}
	}
	&:nth-child(2) {
		background-color: #1a659e;
		.item-features__icon {
			background-color: #fff;
		}
		.item-features__text {
			color: #fff;
		}
		.item-features__title {
			color: #fff;
		}
	}
	&:nth-child(even) {
		margin-top: toRem(50);
		@media (max-width: toEm(1040)) {
			margin-top: 0;
		}
	}
	&:nth-child(odd) {
		margin-bottom: toRem(50);
		@media (max-width: toEm(1040)) {
			margin-bottom: 0;
		}
	}
	// .item-features__icon

	&__icon {
		width: toRem(80);
		height: toRem(80);
		border-radius: 50%;
		background-color: #eaf1ff;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-color 0.3s;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 25, 15);
		}
		img {
			width: toRem(40);
			height: toRem(40);
		}
	}

	// .item-features__title

	&__title {
		font-family: "Inter";
		color: #095188;
		@include adaptiveValue("font-size", 19, 18);
		line-height: 1.2em;
		transition: color 0.3s;
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}

	// .item-features__text

	&__text {
		color: #8b8b8b;
		line-height: 1.4em;
		transition: color 0.3s;
		@media (max-width: toEm(480)) {
			text-align: center;
		}
	}
}

//=====================PARTNERS===========================

.partners {
	@include adaptiveValue("padding-top", 100, 50);
	@include adaptiveValue("padding-bottom", 100, 50);
	position: relative;
	z-index: 2;
	scroll-margin-top: toRem(120);
	// .partners__container

	&__container {
		max-width: toRem(1170);
	}

	// .partners__top-wrap

	&__top-wrap {
		@include adaptiveValue("padding-top", 50, 20);
		@include adaptiveValue("padding-bottom", 42, 20);
		@include adaptiveValue("padding-left", 50, 20);
		@include adaptiveValue("padding-right", 50, 20);
		background-image: linear-gradient(90deg, #1a659e 0%, #1a659e 100%);
		border-radius: toRem(20) 0 0 0;
		display: flex;
		justify-content: space-between;
		gap: toRem(20);
		@media (max-width: toRem(845)) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: toRem(50);
		}
	}

	// .partners__heading

	&__heading {
		max-width: toRem(600);
		@media (max-width: toRem(845)) {
			max-width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}

	// .partners__label

	&__label {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 25, 15);
		}
	}

	// .partners__title

	&__title {
	}

	// .partners__logos

	&__logos {
	}

	// .partners__bottom-wrap

	&__bottom-wrap {
		color: #fff;
		border-top: toRem(2) dashed #ffffff38;
		@include adaptiveValue("padding-top", 46, 20);
		@include adaptiveValue("padding-bottom", 57, 20);
		@include adaptiveValue("padding-left", 50, 20);
		@include adaptiveValue("padding-right", 50, 20);
		background-color: #1a659e;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: toRem(20);
		border-radius: 0 0 toRem(20) 0;
		@media (max-width: toRem(845)) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	// .partners__info

	&__info {
		max-width: toRem(263);
		@media (max-width: toRem(845)) {
			max-width: 100%;
			text-align: center;
		}
	}

	// .partners__subtitle

	&__subtitle {
		font-family: "Inter";
		@include adaptiveValue("font-size", 22, 18);
		font-weight: 700;
		line-height: 1.2em;
		text-transform: capitalize;
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}

	// .partners__text

	&__text {
		line-height: 1.4;
	}

	// .partners__counter

	&__counter {
	}
}

.logo-partner {
	display: flex;
	flex-wrap: wrap;
	gap: toRem(15);
	width: 100%;
	max-width: toRem(590);

	@media (max-width: toRem(845)) {
		max-width: 100%;
	}
	// .logo-partner__img

	&__img {
		flex: 1 1 calc(33.333% - toRem(20));
		border-radius: toRem(10) 0 toRem(10) 0;
		width: 100%;
		height: 100%;
		max-height: toRem(65);
		object-fit: cover;
		@media (max-width: toRem(620)) {
			flex: 1 1 calc(50% - toRem(20));
		}
			@media (max-width: toRem(420)) {
			flex: 1 1 100%;
		}
	}
}
.counter {
	display: flex;
	@media (max-width: toRem(550)) {
		flex-direction: column;
	}
	// .counter__item

	&__item {
	}
}
.item-counter {
	padding: 0 toRem(30);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: toRem(15);
	@media (max-width: toRem(550)) {
		padding: toRem(20) 0;
	}
	&:not(:last-child) {
		border-right: toRem(1) solid #ffffff21;
		@media (max-width: toRem(550)) {
			border-right: none;
			border-bottom: toRem(1) solid #ffffff21;
		}
	}

	// .item-counter__number

	&__number {
		font-family: "Inter";
		@include adaptiveValue("font-size", 38, 25);
		font-weight: 700;
		line-height: 1.2em;
	}

	// .item-counter__element

	&__element {
		max-width: toRem(54);
		width: 100%;
		position: relative;
		background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="20" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10"><polyline points="0,18 12,6 24,18"/></svg>')
			repeat-x;
		height: toRem(20);
	}

	// .item-counter__text

	&__text {
		@include adaptiveValue("font-size", 19, 16);
		text-transform: capitalize;
		line-height: 1.2em;
		font-family: "Inter";
		text-align: center;
	}
}

//=====================ABOUT======================

.about {
	@include adaptiveValue("padding-top", 100, 50);
	@include adaptiveValue("padding-bottom", 100, 50);
	&--background {
		position: relative;
		z-index: 1;
		border-radius: toRem(50) 0 0 0;
		background-image: linear-gradient(180deg, #eaf1ff 0%, #ffffff00 50%);
		margin-top: toRem(-200);
		@include adaptiveValue("padding-top", 250, 50);
		@include adaptiveValue("padding-bottom", 100, 50);
		@media (max-width: toEm(960)) {
			margin-top: toRem(50);
			padding-top: toRem(80);
		}
	}

	// .about__container

	&__container {
		&--flex {
			flex-direction: row-reverse;
		}
		max-width: toRem(1170);
		display: flex;
		align-items: center;
		gap: toRem(20);
		justify-content: space-between;
		@media (max-width: toEm(960)) {
			flex-direction: column;
			align-items: center;
			gap: toRem(50);
		}
	}

	// .about__content

	&__content {
		max-width: toRem(583);
		@media (max-width: toEm(960)) {
			max-width: 100%;
		}
	}
	&__info {
		padding-bottom: toRem(20);
		border-bottom: toRem(2) dashed #8b8b8b77;
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
	&__label {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 25, 15);
		}
	}
	// .about__title

	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(50);
		}
	}

	// .about__text

	&__text {
		color: #8b8b8b;
		line-height: 1.4em;
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}

	// .about__button

	&__button {
		width: fit-content;
	}

	// .about__details

	&__details {
	}

	// .about__image

	&__image {
		max-width: toRem(480);
		@media (max-width: toEm(960)) {
			max-width: 100%;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&__list {
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
	}
	&__item {
		@extend .item-details__text;
		display: flex;
		gap: toRem(10);
		&::before {
			content: "";
			width: toRem(10);
			height: toRem(6);
			border-left: toRem(2) solid #095188;
			border-bottom: toRem(2) solid #095188;
			transform: rotate(-45deg);
			margin-top: toRem(5);
		}

		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
}

.details {
	padding-top: toRem(15);
	border-radius: toRem(20) 0 toRem(20) 0;
	padding: toRem(30);
	background-color: #eaf1ff;
	@media (max-width: toEm(960)) {
		padding: toRem(15);
	}
	// .details__item

	&__item {
	}
}
.item-details {
	display: flex;
	gap: toRem(10);
	&:not(:last-of-type) {
		padding-bottom: toRem(20);
		border-bottom: toRem(2) dashed #8b8b8b77;
	}
	&:nth-child(2) {
		padding-top: toRem(20);
	}
	// .item-details__info

	&__info {
		display: grid;
		gap: toRem(20);
	}

	// .item-details__text

	&__text {
		color: #8b8b8b;
		line-height: 1.4em;
	}
	&__title {
		font-family: "Inter";
		color: #1a659e;
		font-size: toRem(19);
		font-weight: 700;
		text-transform: capitalize;
	}
	&__icon {
		width: toRem(30);
		height: toRem(30);
		flex-shrink: 0;
		background-repeat: 50%;
	}
}

//===================PROCESS======================
.process {
	@include adaptiveValue("padding-top", 100, 50);
	@include adaptiveValue("padding-bottom", 100, 50);

	// .process__container

	&__container {
		max-width: toRem(1170);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	// .process__label

	&__label {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 25, 15);
		}
	}

	// .process__title

	&__title {
		text-align: center;
		&:not(:last-child) {
			margin-bottom: toRem(90);
		}
	}

	// .process__wrapper

	&__wrapper {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: space-between;
		gap: toRem(10);
		@media (max-width: toEm(880)) {
			flex-direction: column;
			align-items: center;
			gap: toRem(50);
		}
	}

	// .process__item

	&__item {
		text-align: center;
	}

	// .process__line

	&__line {
	}
}

.item-process {
	display: flex;
	flex: 1 1 calc(33.333% - toRem(50));
	flex-direction: column;
	gap: toRem(20);
	align-items: center;
	height: 100%;

	// .item-process__icon

	&__icon {
		@extend .item-features__icon;
	}

	// .item-process__title

	&__title {
		@include adaptiveValue("font-size", 22, 19);
		font-family: "Inter";
		color: #095188;
		font-weight: 700;
		line-height: 1.2;
		text-transform: capitalize;
	}

	// .item-process__text

	&__text {
		color: #8b8b8b;
		line-height: 1.4em;
		flex: 1;
	}

	// .item-process__number

	&__number {
		padding: toRem(15);
		color: #8b8b8b;
		font-weight: 700;
		font-size: toRem(19);
		line-height: 1.2em;
		text-transform: capitalize;
		font-family: "Inter";
	}
}

.arrow {
	position: absolute;
	top: toRem(50);
	@media (max-width: toEm(880)) {
		display: none;
	}
	&--1 {
		left: toRem(300);
		@media (max-width: toEm(1060)) {
			left: toRem(240);
		}
	}
	&--2 {
		right: toRem(300);
		@media (max-width: toEm(1060)) {
			right: toRem(240);
		}
	}
}

//==================ADVANTAGES=======================

.advantages {
	@include adaptiveValue("padding-top", 100, 50);
	// .advantages__container

	&__container {
		max-width: toRem(1170);
		background-image: linear-gradient(90deg, #1a659e 0%, #1a659e 100%);
		border-radius: toRem(20) 0 0 0;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url(../img/shape.webp);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			z-index: 1;
			pointer-events: none;
		}
	}
	&__body {
		display: flex;
		@include adaptiveValue("padding-top", 100, 50);
		padding-left: toRem(40);
		padding-right: toRem(40);
		padding-bottom: toRem(40);
	}
	// .advantages__title

	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(80);
		}
	}

	&__items-wrap {
		display: grid;
		gap: toRem(20);
		padding-bottom: toRem(30);
		border-bottom: toRem(2) dashed #8b8b8b9e;
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
	}
	// .advantages__item

	&__item {
		color: #fff;
	}

	// .advantages__image

	&__image {
		position: absolute;
		right: 0;
		bottom: 0;
		max-width: toRem(380);
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

.item-advantages {
	display: flex;
	align-items: center;
	gap: toRem(10);
	// .item-advantages__icon

	&__icon {
		flex-shrink: 0;
		width: toRem(60);
		height: toRem(60);
		background-color: #ffffff38;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: toRem(35);
			height: toRem(35);
		}
	}

	// .item-advantages__info

	&__info {
		display: grid;
		gap: toRem(10);
	}

	// .item-advantages__title

	&__title {
		@extend .item-details__title;
		color: #fff;
	}

	// .item-advantages__text

	&__text {
	}
}

//==================DASHBOARD====================

.dashboard {
	// .dashboard__container

	&__container {
		background-color: #1a659e;
		border-radius: 0 0 toRem(20) 0;
		max-width: toRem(1170);
		position: relative;
		&::before {
			content: "";
			position: absolute;
			bottom: -50%;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url(../img/shape.webp);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			z-index: 1;
			pointer-events: none;
		}
	}
	&__body {
		padding-top: toRem(80);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: toRem(500);
	}

	// .dashboard__title

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 70, 40);
		}
	}
	&__label {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 25, 15);
		}
	}
}

//===========================	REVIEWS====================

.reviews {
	@include adaptiveValue("padding-top", 100, 50);
	@include adaptiveValue("padding-bottom", 100, 50);
	// .reviews__container

	&__container {
		max-width: toRem(1170);
	}

	// .reviews__label

	&__label {
		margin: 0 auto;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 25, 15);
		}
	}

	// .reviews__title

	&__title {
		text-align: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 70, 50);
		}
	}

	&__items-wrap {
		display: flex;
		align-items: flex-end;
		gap: toRem(90);
		position: relative;
		justify-content: space-between;
		@media (max-width: toRem(880)) {
			flex-direction: column;
			gap: toRem(100);
			align-items: center;
		}
	}

	// .reviews__img

	&__img {
		max-width: toRem(450);
		height: auto;
		@media (max-width: toRem(880)) {
			max-width: 100%;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__wrapper {
	}

	&__swiper {
		width: 100%;
		overflow: hidden;
	}
	&__slide {
	}
	&__quotes {
		width: toRem(90);
		height: toRem(90);
		position: absolute;
		bottom: toRem(300);
		left: 50%;
		transform: translateX(-50%);
		pointer-events: none;
		z-index: 3;
		@media (max-width: toRem(880)) {
			bottom: toRem(230);
			left: toRem(0);
			transform: translateX(0);
			width: toRem(60);
			height: toRem(60);
		}
		@media (max-width: toRem(500)) {
			bottom: toRem(280);
			width: toRem(60);
			height: toRem(60);
		}
		@media (max-width: toRem(375)) {
			bottom: toRem(320);
			width: toRem(60);
			height: toRem(60);
		}
	}
}

.slide-review {
	// .item-reviews__text

	&__text {
		font-size: toRem(22);
		font-style: italic;
		color: #8b8b8b;
		line-height: 1.2;
		&:not(:last-child) {
			margin-bottom: toRem(40);
		}
	}
}

.user {
	display: flex;
	align-items: center;
	gap: toRem(15);
	// .user__image

	&__image {
		width: toRem(60);
		height: toRem(60);
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			border-radius: 50%;
		}
	}

	// .user__info

	&__info {
		display: grid;
		gap: toRem(10);
	}

	// .user__title

	&__title {
		@extend .item-details__title;
	}
}
.swiper-wrapper {
	display: flex;
	transition: transform 0.3s ease;
	margin-bottom: toRem(50);
}

.swiper-slide {
	flex-basis: 100%;
	cursor: grab;
}

.swiper-pagination {
	text-align: left;
	@media (max-width: toRem(880)) {
		text-align: center;
	}
}

.swiper-pagination .swiper-pagination-bullet {
	width: toRem(12);
	height: toRem(12);
	flex-shrink: 0;
	border-radius: 50%;
	transition: all 0.3s ease;
	background: #1a659e;
	@media (max-width: toEm(480)) {
		width: toRem(10);
		height: toRem(10);
	}
}
.swiper-pagination .swiper-pagination-bullet-active {
	width: toRem(36);
	height: toRem(12);
	border-radius: toRem(7);
	background: #095188;
	transition: all 0.3s ease;
	@media (max-width: toEm(480)) {
		height: toRem(10);
	}
}

//======================FAQ================================

.faq {
	@include adaptiveValue("padding-top", 100, 50);
	@include adaptiveValue("padding-bottom", 100, 50);

	padding-bottom: toRem(50);
	// .faq__container

	&__container {
		max-width: toRem(1170);
		display: flex;
		gap: toRem(50);
		@media (max-width: toEm(900)) {
			flex-direction: column;
		}
	}

	// .faq__left-part

	&__left-part {
		max-width: toRem(590);
		padding: toRem(15) toRem(30) toRem(30) toRem(30);
		border: toRem(1) solid #aca5a55d;
		border-radius: toRem(20) toRem(0) toRem(20) toRem(0);
		@media (max-width: toEm(480)) {
			max-width: 100%;
			padding: toRem(10);
		}
	}

	// .faq__item

	&__item {
	}

	// .faq__right-part

	&__right-part {
	}

	// .faq__label

	&__label {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 25, 15);
		}
	}

	// .faq__title

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 20);
		}
	}

	// .faq__text

	&__text {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 20);
		}
		@extend.item-details__text;
	}

	// .faq__subtitle

	&__subtitle {
		@extend .item-details__title;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 20, 15);
		}
	}

	// .faq__button

	&__button {
		width: fit-content;
	}
}
.item-faq {
	// .item-faq__header

	&__header {
		padding: toRem(10) 0;
		display: flex;
		gap: toRem(10);
		cursor: pointer;
		justify-content: space-between;
		border-bottom: toRem(1) dashed #8b8b8b81;
		img {
			flex-shrink: 0;
			width: toRem(25);
			height: toRem(25);
			transition: transform 0.3s ease;
		}
	}

	// .item-faq__title

	&__title {
		line-height: 1.5;
		font-weight: 500;
		text-transform: uppercase;
		color: #8b8b8b;
		flex-grow: 1;
		transition: color 0.3s ease;
	}

	// .item-faq__answer

	&__answer {
		@extend .item-details__text;
		padding: toRem(10) 0;
		overflow: hidden;
		height: 0;
		opacity: 0;
		transition:
			height 0.3s ease,
			opacity 0.3s ease;
	}
}

.faq__item.open .item-faq__answer {
	display: block;
	opacity: 1;
	transform: translateY(0);
}

.faq__item.open .item-faq__header img {
	transform: rotate(180deg);
}

.faq__item.open .item-faq__header h3 {
	color: #095188;
}
//=======================POPUP=====================
.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: toRem(15);
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	transition:
		opacity 0.3s ease,
		visibility 0.3s ease;
	z-index: 50;
	&.active {
		opacity: 1;
		visibility: visible;
	}
	&__content {
		background: #fff;
		padding: toRem(40) toRem(20);
		border-radius: toRem(20) 0 toRem(20) 0;
		max-width: toRem(400);
		width: 100%;
		text-align: center;
		position: relative;
		@media (max-width: toEm(480)) {
			padding: toRem(20) toRem(10);
		}
	}
	&__close {
		position: absolute;
		top: toRem(10);
		right: toRem(15);
		font-size: toRem(25);
		cursor: pointer;
		color: #095188;
	}
	&__form {
		display: flex;
		flex-direction: column;
		gap: toRem(20);
		textarea {
			resize: none;
			min-height: toRem(100);
		}
	}
	&__title {
		@extend .item-details__title;
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
	}
	&__input {
		width: 100%;
		padding: toRem(10);
		border: toRem(1) solid #8b8b8b8e;
		border-radius: toRem(5);
		&:focus {
			outline: none;
			border-color: #1a659e;
		}
	}
}

//================DOWNLOAD==================

.download {
	padding-top: toRem(50);
	position: relative;
	margin-bottom: toRem(-70);
	z-index: 5;

	// .download__container

	&__container {
		max-width: toRem(1170);
	}

	// .download__body

	&__body {
		border-radius: toRem(20) 0 toRem(20) 0;
		background-color: #095188;
		display: flex;
		gap: toRem(20);
		justify-content: space-between;
		padding: toRem(60);
		position: relative;
		@media (max-width: toEm(785)) {
			flex-direction: column;
			padding: toRem(60) toRem(20) toRem(20) toRem(20);
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url(../img/shape.webp);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			z-index: 1;
			pointer-events: none;
		}
	}

	// .download__content

	&__content {
		max-width: toRem(445);
		@media (max-width: toEm(785)) {
			max-width: 100%;
		}
	}

	// .download__title

	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(30);
			@media (max-width: toEm(480)) {
				margin-bottom: toRem(15);
			}
		}
	}

	// .download__text

	&__text {
		@extend .item-details__text;
		color: #fff;
		&:not(:last-child) {
			margin-bottom: toRem(40);
			@media (max-width: toEm(480)) {
				margin-bottom: toRem(20);
			}
		}
	}

	// .download__button

	&__button {
	}

	// .download__image

	&__image {
		max-width: toRem(600);
		@media (max-width: toEm(785)) {
			max-width: 100%;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

//==============================FOOTER=========================

.footer {
	background-color: transparent;
	background-image: linear-gradient(180deg, #1a659e 0%, #095188 100%);
	border-radius: toRem(50) 0 0 0;
	padding-top: toRem(150);
	@include adaptiveValue("padding-bottom", 40, 20);

	// .footer__container

	&__container {
		max-width: toRem(1170);
	}

	// .footer__top

	&__top {
		display: flex;
		justify-content: space-between;
		gap: toRem(20);
		padding-bottom: toRem(30);
		border-bottom: toRem(1) solid rgba(128, 128, 128, 0.488);
		@media (max-width: toEm(485)) {
			flex-direction: column;
			align-items: center;
			gap: toRem(40);
		}
	}

	// .footer__logo

	&__logo {
		img {
			@include adaptiveValue("width", 217, 150);
			height: auto;
		}
	}

	// .footer__social

	&__social {
	}

	// .footer__bottom

	&__bottom {
		@include adaptiveValue("padding-top", 40, 20);
		color: #fff;
		display: flex;
		justify-content: space-between;
		gap: toRem(20);
		@media (max-width: toEm(730)) {
			flex-direction: column-reverse;
			align-items: center;
		}
	}

	// .footer__copyright

	&__copyright {
		text-align: center;
		@media (max-width: toEm(375)) {
			font-size: toRem(13);
		}
	}

	// .footer__terms

	&__terms {
		display: flex;
		flex-wrap: wrap;
		gap: toRem(10);
		@media (max-width: toEm(375)) {
			font-size: toRem(14);
		}
		a {
			text-wrap: nowrap;
			text-decoration: underline;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}
.social {
	display: flex;
	align-items: center;
	column-gap: toRem(12);
	// .social__link

	&__link {
		width: toRem(38);
		height: toRem(38);
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #ffffff38;
		border-radius: 15% 0 15% 0;
		transition: background-color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				background-color: #095188;
			}
		}
		&::before {
			color: white;
			font-size: toRem(20);
		}
	}
}
