@use "sass:math";

// Кольори

// Функції
@import "_functions.scss";
// Шрифти
@import "_fonts.scss";
// Іконки
@import "_icons.scss";
// Обнулення
@import "_reset.scss";
// Компоненти

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1170;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Poppins";
	height: 1000vh;

	&.menu-open {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
}
.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	main {
		flex-grow: 1;
	}
}

[class*="__container"] {
	margin: 0 auto;
	padding: 0 toRem(15);
}

#scrollToTopBtn {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	bottom: toRem(200);
	right: toRem(15);
	z-index: 20;
	width: toRem(50);
	height: toRem(50);
	background-color: #21225b;
	border-radius: 50%;
	transition:
		opacity 0.3s ease,
		visibility 0.3s ease;
	img {
		width: toRem(20);
		height: toRem(20);
		will-change: transform;
		transition: transform 0.3s;
	}
	@media (any-hover: hover) {
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
	}
	&.visible {
		visibility: visible;
		opacity: 1;
	}
}
.header {
	@include adaptiveValue("padding-top", 50, 10);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 55;
	transition: padding-top 0.3s ease;

	&.scrolled {
		padding-top: toRem(10);
	}
	// .header__container

	&__container {
		max-width: toRem(1300);
	}

	&__body {
		@include adaptiveValue("padding", 20, 10);
		gap: toRem(15);
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #fff;
		border-radius: toRem(20) 0 toRem(20) 0;
	}

	// .header__logo

	&__logo {
		z-index: 20;
		flex-grow: 1;
		img {
			@include adaptiveValue("width", 217, 150);
			height: auto;
		}
	}

	// .header__link

	&__button {
		@media (max-width: toEm(1150)) {
			align-self: center;
		}
	}

	&__menu {
		flex-grow: 1;
	}
}

.menu {
	// .menu__body

	&__body {
		@media (max-width: toEm(1150)) {
			padding: toRem(30) toRem(15);
			position: absolute;
			top: calc(100% + toRem(10));
			left: 0;
			width: 100%;
			background: #fff;
			opacity: 0;
			z-index: 10;
			overflow: auto; // Додаємо прокрутку
			max-height: 0;
			transition:
				max-height 0.4s ease,
				opacity 0.3s ease;
			pointer-events: none;
			.menu-open & {
				max-height: 80vh; // Меню не займатиме більше 80% висоти екрану
				opacity: 1;
				visibility: visible;
			}
		}
	}

	// .menu__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		@include adaptiveValue("column-gap", 24, 10);
		row-gap: toRem(5);
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}

		@media (max-width: toEm(1150)) {
			flex-direction: column;
			align-items: flex-start;
			justify-content: left;
			text-align: right;
			row-gap: toRem(28);
		}
	}

	// .menu__item

	&__item {
		@media (any-hover: hover) {
			&:hover {
				.menu__link {
					color: #373cc5;
				}
			}
		}
	}
	// .menu__link

	&__link {
		position: relative;
		font-size: toRem(16);
		color: #21225b;
		transition: color 0.3s;
		text-transform: uppercase;
		line-height: 1.22em;
	}
}

.icon-menu {
	flex-shrink: 0;
	z-index: 20;
	display: none;
	@media (max-width: toEm(1150)) {
		position: relative;
		width: toRem(33);
		height: toRem(33);
		background-color: #21225b;
		border: none;
		padding: toRem(8) toRem(5.5);
		appearance: none;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		transition: all 0.4s;
		box-sizing: border-box;
		border-radius: toRem(3);
		span {
			width: 100%;
			height: toRem(3);
			background-color: #fff;
			border-radius: 3px;
			display: inline-block;
			transition: all 0.4s;
		}
	}
}

@media (max-width: toEm(1150)) {
	#menu02.active span:nth-of-type(1) {
		transform: translateY(toRem(7)) rotate(45deg);
	}
	#menu02.active span:nth-of-type(2) {
		opacity: 0;
		transform: scaleX(0);
	}
	#menu02.active span:nth-of-type(3) {
		transform: translateY(toRem(-7)) rotate(-45deg);
	}
}

.button {
	flex-shrink: 0;
	font-size: toRem(15);
	@include adaptiveValue("padding-top", 15, 10);
	@include adaptiveValue("padding-bottom", 15, 10);
	@include adaptiveValue("padding-left", 25, 15);
	@include adaptiveValue("padding-right", 25, 15);
	text-transform: uppercase;
	line-height: 1.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: toRem(8);
	img {
		width: toRem(15);
		height: torem(15);
	}
	&--dark {
		color: #fff;
		background-color: #21225b;
		border-radius: toRem(20) 0 toRem(20) 0;
		transition: all 0.3s;

		@media (any-hover: hover) {
			&:hover {
				border-radius: toRem(20) toRem(20);
				background-color: #2f33a1;
			}
		}
	}
}

.footer {
	background-color: transparent;
	background-image: linear-gradient(180deg, #4143a3 0%, #21225b 100%);
	border-radius: toRem(50) 0 0 0;
	@include adaptiveValue("padding-top", 150, 50);
	@include adaptiveValue("padding-bottom", 40, 20);

	// .footer__container

	&__container {
		max-width: toRem(1170);
	}

	// .footer__top

	&__top {
		display: flex;
		justify-content: space-between;
		gap: toRem(20);
		padding-bottom: toRem(30);
		border-bottom: toRem(1) solid rgba(128, 128, 128, 0.488);
		@media (max-width: toEm(485)) {
			flex-direction: column;
			align-items: center;
			gap: toRem(40);
		}
	}

	// .footer__logo

	&__logo {
		img {
			@include adaptiveValue("width", 217, 150);
			height: auto;
		}
	}

	// .footer__social

	&__social {
	}

	// .footer__bottom

	&__bottom {
		@include adaptiveValue("padding-top", 40, 20);
		color: #fff;
		display: flex;
		justify-content: space-between;
		gap: toRem(20);
		@media (max-width: toEm(730)) {
			flex-direction: column-reverse;
			align-items: center;
		}
	}

	// .footer__copyright

	&__copyright {
		text-align: center;
		@media (max-width: toEm(375)) {
			font-size: toRem(13);
		}
	}

	// .footer__terms

	&__terms {
		display: flex;
		flex-wrap: wrap;
		gap: toRem(10);
		@media (max-width: toEm(375)) {
			font-size: toRem(14);
		}
		a {
			text-wrap: nowrap;
			text-decoration: underline;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}
.social {
	display: flex;
	align-items: center;
	column-gap: toRem(12);
	// .social__link

	&__link {
		width: toRem(38);
		height: toRem(38);
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #ffffff38;
		border-radius: 15% 0 15% 0;
		transition: background-color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				background-color: #21225b;
			}
		}
		&::before {
			color: white;
			font-size: toRem(20);
		}
	}
}

//=========================HERO SECTION================================

.hero {
	@include adaptiveValue("padding-top", 250, 100);
	min-height: 100vh;
	position: relative;
	background-color: transparent;
	background-image: linear-gradient(180deg, #4143a3 0%, #21225b 100%);
	overflow: hidden;
	@media (max-width: toEm(890)) {
		min-height: toRem(500);
	}

	&__shape-bottom {
		position: absolute;
		bottom: toRem(-4);
		pointer-events: none;
		z-index: 2;
		width: 100%;
		left: 0;
		overflow: hidden;
		svg {
			height: auto;
			width: 100%; /* Використовуємо 100%, щоб SVG займав всю ширину */
			left: 50%;
		}
	}
	// .hero__container

	&__container {
		display: flex;
		flex-direction: column;
		gap: toRem(40);
		justify-content: center;
		align-items: center;
		z-index: 2;
		max-width: toRem(1150);
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url(../img/shape.webp);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			z-index: 1;
			pointer-events: none;
		}
	}

	// .hero__content

	&__content {
		text-align: center;
		color: #fff;
		display: flex;
		flex-direction: column;
		gap: toRem(15);
		justify-content: center;
		align-items: center;
	}

	// .hero__label

	&__label {
		font-weight: 500;
		text-transform: uppercase;
		line-height: 1.5em;
	}

	// .hero__title

	&__title {
		font-family: "Inter";
		@include adaptiveValue("font-size", 65, 35);
		line-height: 1.2em;
		text-transform: capitalize;
		font-weight: 700;
	}

	// .hero__text

	&__text {
		line-height: 1.4em;
	}

	// .hero__image

	&__image {
		max-width: toRem(850);
		z-index: 2;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.shape-fill {
	fill: #fff;
	transform-origin: center;
	height: 100%;
	width: 100%; /* Переконайтеся, що заповнює всю ширину */
}

//====================FEATURES===========================

.features {
	scroll-margin-top: toRem(70);
	@include adaptiveValue("padding-top", 100, 50);
	@include adaptiveValue("padding-bottom", 100, 50);
	// .features__container

	&__container {
		max-width: toRem(1150);
	}

	// .features__label

	&__label {
		margin: 0 auto;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 25, 15);
		}
	}

	// .features__title

	&__title {
		text-align: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 30);
		}
	}

	// .features__wrapper

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: toRem(30);
	}

	// .features__item

	&__item {
	}
}
.label {
	width: fit-content;
	background-color: #eaf1ff;
	padding: toRem(6) toRem(14) toRem(6) toRem(14);
	border-radius: toRem(10) 0 toRem(10) 0;
	color: #4143a3;
	font-weight: 500;
	text-transform: uppercase;
}
.title {
	font-family: "Inter";
	color: #21225b;
	font-weight: 700;
	@include adaptiveValue("font-size", 38, 25);
	&--white {
		color: #fff;
	}
}
.item-features {
	@include adaptiveValue("padding-top", 40, 20);
	@include adaptiveValue("padding-bottom", 40, 20);
	@include adaptiveValue("padding-left", 30, 15);
	@include adaptiveValue("padding-right", 30, 15);
	text-align: left;
	box-shadow: 0 0 toRem(40) 0 rgba(0, 0, 0, 0.05);
	border-style: none;
	height: fit-content;
	border-radius: toRem(20) 0 toRem(20) 0;
	background-color: #fff;
	transition: all 0.4s;
	display: flex;
	flex-direction: column;
	@media (max-width: toEm(480)) {
		align-items: center;
	}
	@media (any-hover: hover) {
		&:hover {
			border-radius: 0;
			background-color: #4143a3;

			.item-features__icon {
				background-color: #fff;
			}
			.item-features__text {
				color: #fff;
			}
			.item-features__title {
				color: #fff;
			}
		}
	}
	&:nth-child(2) {
		background-color: #4143a3;
		.item-features__icon {
			background-color: #fff;
		}
		.item-features__text {
			color: #fff;
		}
		.item-features__title {
			color: #fff;
		}
	}
	&:nth-child(even) {
		margin-top: toRem(50);
		@media (max-width: toEm(1040)) {
			margin-top: 0;
		}
	}
	&:nth-child(odd) {
		margin-bottom: toRem(50);
		@media (max-width: toEm(1040)) {
			margin-bottom: 0;
		}
	}
	// .item-features__icon

	&__icon {
		width: toRem(80);
		height: toRem(80);
		border-radius: 50%;
		background-color: #eaf1ff;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-color 0.3s;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 25, 15);
		}
		img {
			width: toRem(40);
			height: toRem(40);
		}
	}

	// .item-features__title

	&__title {
		font-family: "Inter";
		color: #21225b;
		@include adaptiveValue("font-size", 19, 18);
		line-height: 1.2em;
		transition: color 0.3s;
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}

	// .item-features__text

	&__text {
		color: #8b8b8b;
		line-height: 1.4em;
		transition: color 0.3s;
		@media (max-width: toEm(480)) {
			text-align: center;
		}
	}
}

//=====================PARTNERS===========================

.partners {
	scroll-margin-top: toRem(120);
	// .partners__container

	&__container {
		max-width: toRem(1150);
	}

	// .partners__top-wrap

	&__top-wrap {
		@include adaptiveValue("padding-top", 50, 20);
		@include adaptiveValue("padding-bottom", 42, 20);
		@include adaptiveValue("padding-left", 50, 20);
		@include adaptiveValue("padding-right", 50, 20);
		background-image: linear-gradient(90deg, #2f33a1 0%, #4143a3 100%);
		border-radius: toRem(20) 0 0 0;
		display: flex;
		justify-content: space-between;
		gap: toRem(20);
		@media (max-width: toRem(845)) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: toRem(50);
		}
	}

	// .partners__heading

	&__heading {
		max-width: toRem(600);
		@media (max-width: toRem(845)) {
			max-width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}

	// .partners__label

	&__label {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 25, 15);
		}
	}

	// .partners__title

	&__title {
	}

	// .partners__logos

	&__logos {
	}

	// .partners__bottom-wrap

	&__bottom-wrap {
		color: #fff;
		border-top: toRem(2) dashed #ffffff38;
		@include adaptiveValue("padding-top", 46, 20);
		@include adaptiveValue("padding-bottom", 57, 20);
		@include adaptiveValue("padding-left", 50, 20);
		@include adaptiveValue("padding-right", 50, 20);
		background-color: #4143a3;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: toRem(20);
		border-radius: 0 0 toRem(20) 0;
		@media (max-width: toRem(845)) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	// .partners__info

	&__info {
		max-width: toRem(263);
		@media (max-width: toRem(845)) {
			max-width: 100%;
			text-align: center;
		}
	}

	// .partners__subtitle

	&__subtitle {
		font-family: "Inter";
		@include adaptiveValue("font-size", 22, 18);
		font-weight: 700;
		line-height: 1.2em;
		text-transform: capitalize;
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}

	// .partners__text

	&__text {
		line-height: 1.4;
	}

	// .partners__counter

	&__counter {
	}
}

.logo-partner {
	display: flex;
	flex-wrap: wrap;
	gap: toRem(15);
	width: 100%;
	max-width: toRem(590);
	@media (max-width: toRem(845)) {
		max-width: 100%;
	}
	// .logo-partner__img

	&__img {
		flex: 1 1 calc(33.333% - toRem(20));
		border-radius: toRem(10) 0 toRem(10) 0;
		width: 100%;
		height: 100%;
		max-height: toRem(65);
		object-fit: cover;
	}
}
.counter {
	display: flex;
	@media (max-width: toRem(550)) {
		flex-direction: column;
	}
	// .counter__item

	&__item {
	}
}
.item-counter {
	padding: 0 toRem(30);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: toRem(15);
	@media (max-width: toRem(550)) {
		padding: toRem(20) 0;
	}
	&:not(:last-child) {
		border-right: toRem(1) solid #ffffff21;
		@media (max-width: toRem(550)) {
			border-right: none;
			border-bottom: toRem(1) solid #ffffff21;
		}
	}

	// .item-counter__number

	&__number {
		font-family: "Inter";
		@include adaptiveValue("font-size", 38, 25);
		font-weight: 700;
		line-height: 1.2em;
	}

	// .item-counter__element

	&__element {
		max-width: toRem(54);
		width: 100%;
		position: relative;
		background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="20" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10"><polyline points="0,18 12,6 24,18"/></svg>')
			repeat-x;
		height: toRem(20);
	}

	// .item-counter__text

	&__text {
		@include adaptiveValue("font-size", 19, 16);
		text-transform: capitalize;
		line-height: 1.2em;
		font-family: "Inter";
		text-align: center;
	}
}
